<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>MICO</title>
        <meta name="viewport" content="width=device-width,user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">

        <link rel="stylesheet" href="/stylesheets/normalize.css">
        <link rel="stylesheet" href="/stylesheets/controller.css">

        <link rel="stylesheet" href="/stylesheets/normalize.css">
        <link rel="stylesheet" href="/stylesheets/controller.css">

        <script src="/javascripts/modernizr.js"></script>
    </head>
    <body>
    	<div id="home" class="screen">
            <div class="taskListWrapper">
                <div id="taskList"></div>
            </div>
            <div id="buttonGrid">
                <div class="buttonGridInner">
                    <div id="gripper" class="button">Fingers</div>
                    <div id="wrist" class="button">Wrist</div>
                    <div id="normal" class="button active big">Arm
                    </div>
                </div>
            </div>
        </div>

        <div id="record_name" class="screen hidden">
            <input type="text" id="name" placeholder="Task Name">
            <div id="buttonGrid">
                <div id="cancelRecording" class="button big" style="font-weight: lighter;">Cancel</div>
                <div id="beginRecording" class="button big">Please Wait</div>
            </div>
        </div>

        <div id="record_movements" class="screen hidden">
            <div class="instructions"></div>
            <div id="buttonGridSmall">
                <div id="finishRecording" class="button big">Finish recording</div>
            </div>
            <div id="buttonGrid">
                <div class="buttonGridInner">
                    <div id="gripperRec" class="button">Fingers</div>
                    <div id="wristRec" class="button">Wrist</div>
                    <div id="normalRec" class="button big active">Arm</div>
                </div>
            </div>
        </div>

        <script src="/socket.io/socket.io.js"></script>
        <script src="/javascripts/jquery.js"></script>
        <script src="/javascripts/hammer.js"></script>
        <script src="/javascripts/controller.js"></script>
    </body>
</html>