<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>MICO</title>
        <meta name="viewport" content="width=device-width,user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">

        <link rel="stylesheet" href="/stylesheets/normalize.css">
        <link rel="stylesheet" href="/stylesheets/controller.css">

        <link rel="stylesheet" href="/stylesheets/normalize.css">
        <link rel="stylesheet" href="/stylesheets/controller.css">

        <script src="/javascripts/modernizr.js"></script>
    </head>
    <body>
    	<div id="home" class="screen">
            <div id="taskList"></div>
        </div>

        <div id="playback" class="screen hidden">
            <div class="button top" id="playbackBack">
                <div class="outline">Back</div>
            </div>
            <div class="button bottom" id="playbackButton">
                <div class="bottomInner" style="padding-top: 100px;"> 
                    Hold to begin playback
                </div>
            </div>
        </div>

        <div id="record_name" class="screen hidden">
            <input type="text" id="name" placeholder="Task Name">
            <div class="button bottom" id="advanceToRecord">
                <div class="bottomInner" style="padding-top: 150px;">
                    Begin Recording
                </div>
            </div>
        </div>

        <div id="record_movements" class="screen hidden">
            <div class="instructions"></div>
            <div class="button bottom" id="finishRecording">
                <div class="bottomInner" style="padding-top: 150px;">
                    Finish Recording
                </div>
            </div>
        </div>

        <script src="/socket.io/socket.io.js"></script>
        <script src="/javascripts/jquery.js"></script>
        <script src="/javascripts/hammer.js"></script>
        <script src="/javascripts/controller.js"></script>
    </body>
</html>