/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html, body {
    font-size: 1em;
    line-height: 1.4;
    height: 100%;
    color: #FFF;
    background: #262C31;
    overflow: hidden;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Custom styles
   ========================================================================== */

div {
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.screen {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.button {
    position: absolute;
    width: 100%;
    height: 50%%;
    font-size: 22pt;
    padding: 100px 15px 10px 15px;
}

.top {
    left: 0px;
    top: 0px;
    right: 0px;
    font-size: 17pt;
    padding-top: 120px;
}

.outline {
    width: 320px;
    padding: 32px;
    border: 1px solid rgba(255,255,255,0.5);
    margin: auto;
    border-radius: 13px;
}

.bottom {
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: #21262A;
    font-weight: bold;
    text-shadow: -1px -1px 12px rgba(150, 150, 150, 1);
    text-shadow: 0px -1px 0px #374683;
    border-radius: 10px;
    -webkit-box-shadow: inset 0px 1px 10px 0px rgba(0,0,0,.5);
    padding: 25px;
}

.bottomInner {
    height: 100%;
    padding: 15px;
    border-radius: 10px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #E8FFCA), color-stop(0.5%,#75DB00), color-stop(100%,#589F00));
    -webkit-box-shadow: 0px 0px 13px 0px rgba(50, 50, 50, 0.97);
}

.bottomInner.active {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #E8FFCA), color-stop(0.5%,#589F00), color-stop(100%,#75DB00));
}

#taskList {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

#taskList .task {
    height: 105px;
    padding: 33px 20px 10px 20px;
    font-size: 20pt;
    margin: 17px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FCD7FF), color-stop(2%,#C006DB), color-stop(100%,#8302AF));
    border-radius: 6px;
    -webkit-box-shadow: 0px 0px 13px 0px rgba(50, 50, 50, 0.97);
    text-shadow: 0px -1px 0px #374683;
}

#playback {
    padding: 0px 60px 0px 90px;
    text-align: center;
}

#record_name {
    text-align: center;
}

#record_name #name {
    margin-top: 100px;
    padding: 15px;
    border-radius: 5px;
    width: 70%;
    font-size: 18pt;
}

#record_movements {
    text-align: center;
    font-size: 28pt;
}

#record_movements .instructions {
    margin-top: 130px;
    font-size: 16pt;
    opacity: .3;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}