/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html, body {
    font-size: 1em;
    line-height: 1.4;
    height: 100%;
    color: #FFF;
    background: #21262A;;
    overflow: hidden;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Custom styles
   ========================================================================== */

div {
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.screen {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

#loading {
    z-index: 1000000;
    background: rgba(0,0,0,0.85);
    text-align: center;
    font-size: 22pt;
    font-weight: bold;
    padding-top: 240px;
}

.taskListWrapper {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    height: 60%;
}

#taskList {
    height: 100%;
    width: 100%;
    border: 1px solid rgba(0,0,0,0.5);
    border-bottom: 0px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

#restartTaskPlayback {
    z-index: 100;
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 80px;
    background: blue;
    margin: 0px 0px 0px 0px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #E8FFCA), color-stop(0.5%,#DB0000), color-stop(100%,#9F0300));
    background-image: url(../images/restart.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%, #E8FFCA), color-stop(0.5%,#DB0000), color-stop(100%,#9F0300));
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 23px, cover;
}

.task {
    position: relative;
    height: 80px;
    padding: 25px;
    font-size: 18pt;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    font-weight: lighter;
}

.task span {
    position: absolute;
    z-index: 100;
}

.task .progressBar {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.task.active .progressBar {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #E8FFCA), color-stop(0.5%,#75DB00), color-stop(100%,#589F00));
}

#buttonGrid {
    position: absolute;
    left: 0px;
    bottom: 0px;
    right: 0px;
    height: 40%;
    padding: 10px 10px 10px 10px;
    z-index: 50000;
    border: 1px solid rgba(0,0,0,1);
    background: #14171A;
    -webkit-box-shadow: 0px -10px 17px 0px rgba(0, 0, 0, 0.15);
}

#buttonGrid .buttonGridInner {
    border-radius: 10px;
    height: 100%;
    overflow: hidden;
    border: 1px solid rgba(0,0,0,0.5);
    background: #21262A;
}

.button {
    height: 50%;
    width: 50%;
    font-size: 18pt;
    float: left;
    text-transform: uppercase;
    text-align: center;
    padding-top: 35px;
    font-weight: bold;
    text-shadow: 0px -1px 0px #374683;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2E353B), color-stop(100%,#21262A));
}

.button.big {
    width: 100%;
}

.button.active {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #E8FFCA), color-stop(0.5%,#75DB00), color-stop(100%,#589F00));
}

.button:nth-child(1),
.button:nth-child(2) {
    border-bottom: 1px solid #000;
}

.button:nth-child(1) {
    border-right: 1px solid #000;
}

#record_name {
    text-align: center;
}

#record_name input {
    font-size: 17pt;
    width: 70%;
    padding: 13px;
    border-radius: 6px;
    margin-top: 140px;
}

#record_name .button:nth-child(1) {
    border-bottom: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#record_name .button:nth-child(2) {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

#record_name .button {
    border-radius: 10px;
    border: 1px solid #000;
}

#buttonGridSmall {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    height: 10%;
    z-index: 60000;
}

#buttonGridSmall .button {
    height: 100%;
    padding-top: 16px;
    font-size: 14pt;
}

.instructions {
    margin-top: 150px;
    text-align: center;
    font-size: 18pt;
    opacity: 0.25;
    font-weight: lighter;
    padding: 0px 30px 0px 30px;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}